#contactForm {
  position: relative;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 100px;

  @include media-breakpoint-up(lg) {
    padding-top: 240px;
    padding-bottom: 240px;
  }

  background-color: black;
  background-image: url('../images/about.jpg');
  background-position: left;
  background-repeat: no-repeat;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.781);
    opacity: 0.6;
    z-index: 0;
  }

  .leftContent {
    padding-top: 60px;
    padding-left: 15%;
    padding-right: 15%;
    h1 {
      color: $success;
    }
    p {
      color: white;
      padding-bottom: 25px;
      @include media-breakpoint-up(lg) {
        padding-bottom: 0px;
      }
    }
  }

  form {
    opacity: 1;
    padding-left: 10%;
    padding-right: 10%;

    input {
      padding: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    p {
      color: black;
    }
  }

  .success {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
