#photoGallery {
  @include useBgImgTint(
    '../images/about.jpg',
    left,
    auto,
    rgba(0, 0, 0, 0.781),
    0.6
  );

  .title {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 7.5%;
  }

  .customContainer {
    width: 90%;
    padding-left: 10%;
    padding-bottom: 100px;
  }

  .card {
    position: relative;
    width: 80%;
    margin-bottom: 7px;

    .img {
      background-color: #cccccc;
      height: 100vw * 0.8 / 16 * 9;
      width: 100vw * 0.8;
      position: relative;
      z-index: 1;
      overflow: hidden;

      @include useTransition(background-size, 0.5s, ease-in);

      @include media-breakpoint-up(lg) {
        height: 100vw / 3 * 0.8 / 16 * 9;
        width: 100vw / 3 * 0.8;
      }

      .content {
        z-index: 3;
        color: white;
        position: absolute;
        opacity: 0;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        bottom: 0%;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: transparent;
        opacity: 0.6;
        z-index: 2;
      }

      &:hover {
        cursor: pointer;
        background-size: 100vw * 0.8 * 1.2;

        @include media-breakpoint-up(lg) {
          background-size: 100vw / 3 * 0.8 * 1.2;
        }

        @include useTransition(background-size, 0.5s, ease-in);
        &:before {
          background-color: rgba(0, 0, 0, 0.781);
          opacity: 0.6;
        }

        .content {
          opacity: 1;
        }
      }
    }

    .img1 {
      @include useBgImg('../images/gallery-img1.jpg', center, 100%);
    }
    .img2 {
      @include useBgImg('../images/gallery-img2.jpg', center, 100%);
    }
    .img3 {
      @include useBgImg('../images/gallery-img3.jpg', center, 100%);
    }
    .img4 {
      @include useBgImg('../images/gallery-img4.jpg', center, 100%);
    }
    .img5 {
      @include useBgImg('../images/gallery-img5.jpg', center, 100%);
    }
    .img6 {
      @include useBgImg('../images/gallery-img6.jpg', center, 100%);
    }
    .img7 {
      @include useBgImg('../images/gallery-img7.jpg', center, 100%);
    }
    .img8 {
      @include useBgImg('../images/gallery-img8.jpg', center, 100%);
    }
    .img9 {
      @include useBgImg('../images/gallery-img9.jpg', center, 100%);
    }
  }
}
